/*
    Airline 
*/
#mainPage {  
  background: rgb(32,178,170); /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgb(32,178,170), rgb(64,224,208), rgb(224,255,255)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgb(32,178,170), rgb(64,224,208), rgb(224,255,255)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgb(32,178,170), rgb(64,224,208), rgb(224,255,255)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgb(32,178,170), rgb(64,224,208), rgb(224,255,255)); /* Standard syntax */
}
img {max-width: 100%}
#sectionHead {
    overflow: hidden;
    width: 100%;
    height: 150px;
    background: rgb(255,255,224); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgb(255,255,224), rgb(184,134,11)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(255,255,224), rgb(184,134,11)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(255,255,224), rgb(184,134,11)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(255,255,224), rgb(184,134,11)); /* Standard syntax */
}
#sectionHead h1 {
    font-size: 2em;
    font-style: italic;
    color: rgb(139,69,19);
    margin-left: 22%;
    padding-top: 2%;
}
h2 {
    margin-top: 3%;
    margin-left: 14%;
    color: rgb(0,0,205);
}
#sectionForm {
    width: 45%;
    border: 5px solid rgb(139,69,19); 
    border-radius: 40px;
    margin: 3% auto 1%;
    background: rgb(255,255,224); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgb(255,255,224), rgb(184,134,11)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(255,255,224), rgb(184,134,11)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(255,255,224), rgb(184,134,11)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(255,255,224), rgb(184,134,11)); /* Standard syntax */
    padding: 1%;
    font-size: 1.2rem;
}
#tableForm {
    width: 80%;
    margin: 2% auto;
    text-align: center;
}
#tableRadio {
    text-align: center;
    padding: 0 0 2px 8px;
}
#tableRadio td {
    padding: 0 0 2px 11px;
}
.txt {
    text-align: left;
}
#btn {
    width: 15%;
    margin: 3% 0 0 42%;
    color: rgb(0, 100,0);
    font-size: 1.3rem;
    text-align: center;
}
#errorMsg {
    margin: 3% 0 0 30%;
    text-align: center;
    color: rgb(255,0,0);
    font-weight: 900;
    display: none;
}
#imgTopLeft, #imgTopRight, #imgBtmLeft, #imgBtmRight {
    position: absolute
}
#imgTopLeft {
    width: 18%;
    top: 0;
    left: -2%;
    opacity: 0.8;
}
#imgBtmLeft {
    width: 28%;
    top: 32%;
    left: -3%;
    opacity: 0.8;
}
#imgTopRight {
    width: 30%;
    top: 3%;
    right: 1%;
    opacity: 0.7;
}
#imgBtmRight  {
    width: 28%;
    top: 33%;
    right: -3%;
    opacity: 0.7;
}
#imgBtmCenter {
    width: 50%;
    margin: 4% auto;
    opacity: 0.8;
}
#sectionList {
    width: 88%;
    border: 5px solid rgb(139,69,19); 
    border-radius: 40px;
    margin: 3% auto 1%;
    background: rgb(255,248,221); 
    padding: 2%;
    font-size: .9rem;
}
#tableList {
    border: 3px solid black;
}
.thc {
    background-color: rgb(139,69,19);
    color: rgb(255,215,0);
    text-align: center;
    padding: 4px 5px;
    border-collapse: collapse;
}
.thh {
    color: rgb(139,69,19);
    text-align: center;
    padding: 4px 5px;
    border-bottom: 2px dashed rgb(139,69,19);
}
#tableList td {
    padding: 2px 15px;
}
.gotoBtn {
    width: 50%;
    margin: 1% auto;
    text-align: center;
    border: 4px solid rgb(139,69,19); 
    border-radius: 40px;
    background-color: rgb(47,79,79);
    padding: 1%;
    font-weight: 700;
}
td.bb {
    border: 1px solid black;
    text-align: center;
}
.rowMar td {
    margin-bottom: 2%;
}
.ind {
    text-indent: 2%;
    font-weight: 700;
    color: rgb(105,105,105);
    border-bottom: 1px dashed blue;
}
.gotoBtn a {
    font-size: 1.2rem;
    color: rgb(255,215,0);
}
#searchResults {
    width: 32%;
    margin-top: -2.5%;
    margin-left: 6.5%;
    display: none;
}
#resultBox {
    width: 100%;
}
#table1, #table2, #table3 {
    width: 60%;
    margin: 3% auto;
}
#table1, #table3 {
    width: 48%;
}
#table1 td:nth-child(2), #table2 td:nth-child(2), #table3 td:nth-child(2) {
    padding-left: 30px;
}
#table2 tr:first-child {
    font-weight: 800;
}
em {
    font-style: italic;
}